.icon{
    i{
        display: inline-block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    img{
        width: 100%;
        height: auto;;
    }

    &__search{
        background-image: url('./assets/icons/search.svg');
    }
    &__temperature-max{
        background-image: url('./assets/icons/temperature-max.svg');
    }
    &__temperature-min{
        background-image: url('./assets/icons/temperature-min.svg');
    }
    &__humidity{
        background-image: url('./assets/icons/humidity.svg');
    }
    &__clouds{
        background-image: url('./assets/icons/clouds.svg');
    }
    &__winds{
        background-image: url('./assets/icons/winds.svg');
    }

    &__add{
        background-image: url('./assets/icons/star.svg');

        &--added{
            background-image: url('./assets/icons/star-filled.svg');
        }
    }
}